/*
Simplify Reset
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
Padding 
-------------------------------------------------
*/
/* 
Padding 
-------------------------------------------------
*/
.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p-1 {
  padding: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-7 {
  padding: 1.75rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.p-8 {
  padding: 2rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p-9 {
  padding: 2.25rem;
}

.pt-9 {
  padding-top: 2.25rem;
}

.pr-9 {
  padding-right: 2.25rem;
}

.pb-9 {
  padding-bottom: 2.25rem;
}

.pl-9 {
  padding-left: 2.25rem;
}

.px-9 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.py-9 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.p-10 {
  padding: 2.5rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pr-10 {
  padding-right: 2.5rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

/*
Margin
-------------------------------------------------
*/
.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-1 {
  margin: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m-7 {
  margin: 1.75rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.m-8 {
  margin: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m-9 {
  margin: 2.25rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.mr-9 {
  margin-right: 2.25rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}

.ml-9 {
  margin-left: 2.25rem;
}

.mx-9 {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}

.my-9 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.m-10 {
  margin: 2.5rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mr-10 {
  margin-right: 2.5rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.m-auto {
  margin: auto;
}

.mt-auto {
  margin-top: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

/*
Border
-------------------------------------------------
*/
/* Width */
.bd-0 {
  border-width: 0;
}

.bd-t-0 {
  border-top-width: 0;
}

.bd-r-0 {
  border-right-width: 0;
}

.bd-b-0 {
  border-bottom-width: 0;
}

.bd-l-0 {
  border-left-width: 0;
}

.bd-1 {
  border-width: 0.125rem;
}

.bd-t-1 {
  border-top-width: 0.125rem;
}

.bd-r-1 {
  border-right-width: 0.125rem;
}

.bd-b-1 {
  border-bottom-width: 0.125rem;
}

.bd-l-1 {
  border-left-width: 0.125rem;
}

.bd-2 {
  border-width: 0.25rem;
}

.bd-t-2 {
  border-top-width: 0.25rem;
}

.bd-r-2 {
  border-right-width: 0.25rem;
}

.bd-b-2 {
  border-bottom-width: 0.25rem;
}

.bd-l-2 {
  border-left-width: 0.25rem;
}

.bd-3 {
  border-width: 0.5rem;
}

.bd-t-3 {
  border-top-width: 0.5rem;
}

.bd-r-3 {
  border-right-width: 0.5rem;
}

.bd-b-3 {
  border-bottom-width: 0.5rem;
}

.bd-l-3 {
  border-left-width: 0.5rem;
}

.bd-4 {
  border-width: 1rem;
}

.bd-t-4 {
  border-top-width: 1rem;
}

.bd-r-4 {
  border-right-width: 1rem;
}

.bd-b-4 {
  border-bottom-width: 1rem;
}

.bd-l-4 {
  border-left-width: 1rem;
}

.bd-5 {
  border-width: 2rem;
}

.bd-t-5 {
  border-top-width: 2rem;
}

.bd-r-5 {
  border-right-width: 2rem;
}

.bd-b-5 {
  border-bottom-width: 2rem;
}

.bd-l-5 {
  border-left-width: 2rem;
}

/* Radius */
.br-none {
  border-radius: 0;
}

.br-t-none {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.br-r-none {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.br-b-none {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.br-l-none {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.br-tl-none {
  border-top-left-radius: 0;
}

.br-tr-none {
  border-top-right-radius: 0;
}

.br-br-none {
  border-bottom-right-radius: 0;
}

.br-bl-none {
  border-bottom-left-radius: 0;
}

.br-sm {
  border-radius: 0.125rem;
}

.br-t-sm {
  border-top-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
}

.br-r-sm {
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
}

.br-b-sm {
  border-bottom-right-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}

.br-l-sm {
  border-top-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}

.br-tl-sm {
  border-top-left-radius: 0.125rem;
}

.br-tr-sm {
  border-top-right-radius: 0.125rem;
}

.br-br-sm {
  border-bottom-right-radius: 0.125rem;
}

.br-bl-sm {
  border-bottom-left-radius: 0.125rem;
}

.br-md {
  border-radius: 0.25rem;
}

.br-t-md {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.br-r-md {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.br-b-md {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.br-l-md {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.br-tl-md {
  border-top-left-radius: 0.25rem;
}

.br-tr-md {
  border-top-right-radius: 0.25rem;
}

.br-br-md {
  border-bottom-right-radius: 0.25rem;
}

.br-bl-md {
  border-bottom-left-radius: 0.25rem;
}

.br-lg {
  border-radius: 0.5rem;
}

.br-t-lg {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.br-r-lg {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.br-b-lg {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.br-l-lg {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.br-tl-lg {
  border-top-left-radius: 0.5rem;
}

.br-tr-lg {
  border-top-right-radius: 0.5rem;
}

.br-br-lg {
  border-bottom-right-radius: 0.5rem;
}

.br-bl-lg {
  border-bottom-left-radius: 0.5rem;
}

.br-xl {
  border-radius: 1rem;
}

.br-t-xl {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.br-r-xl {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.br-b-xl {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.br-l-xl {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.br-tl-xl {
  border-top-left-radius: 1rem;
}

.br-tr-xl {
  border-top-right-radius: 1rem;
}

.br-br-xl {
  border-bottom-right-radius: 1rem;
}

.br-bl-xl {
  border-bottom-left-radius: 1rem;
}

.br-2xl {
  border-radius: 2rem;
}

.br-t-2xl {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.br-r-2xl {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.br-b-2xl {
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.br-l-2xl {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.br-tl-2xl {
  border-top-left-radius: 2rem;
}

.br-tr-2xl {
  border-top-right-radius: 2rem;
}

.br-br-2xl {
  border-bottom-right-radius: 2rem;
}

.br-bl-2xl {
  border-bottom-left-radius: 2rem;
}

.br-3xl {
  border-radius: 4rem;
}

.br-t-3xl {
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
}

.br-r-3xl {
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

.br-b-3xl {
  border-bottom-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
}

.br-l-3xl {
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
}

.br-tl-3xl {
  border-top-left-radius: 4rem;
}

.br-tr-3xl {
  border-top-right-radius: 4rem;
}

.br-br-3xl {
  border-bottom-right-radius: 4rem;
}

.br-bl-3xl {
  border-bottom-left-radius: 4rem;
}

.br-full {
  border-radius: 9999px;
}

.br-t-full {
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}

.br-r-full {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

.br-b-full {
  border-bottom-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

.br-l-full {
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

.br-tl-full {
  border-top-left-radius: 9999px;
}

.br-tr-full {
  border-top-right-radius: 9999px;
}

.br-br-full {
  border-bottom-right-radius: 9999px;
}

.br-bl-full {
  border-bottom-left-radius: 9999px;
}

/* Styles */
.bd-none {
  border-style: none;
}

.bd-solid {
  border-style: solid;
}

.bd-dashed {
  border-style: dashed;
}

.bd-dotted {
  border-style: dotted;
}

.bd-double {
  border-style: double;
}

.bd-groove {
  border-style: groove;
}

.bd-ridge {
  border-style: ridge;
}

.bd-inset {
  border-style: inset;
}

.bd-outset {
  border-style: outset;
}

/*
Simplify Container System
---------------------------------------------
*/
.container {
  display: grid;
  align-items: first baseline;
}

/* Widths */
.w-10 {
  width: 10%;
  max-width: 10%;
}

.w-20 {
  width: 20%;
  max-width: 20%;
}

.w-30 {
  width: 30%;
  max-width: 30%;
}

.w-40 {
  width: 40%;
  max-width: 40%;
}

.w-50 {
  width: 50%;
  max-width: 50%;
}

.w-60 {
  width: 60%;
  max-width: 60%;
}

.w-70 {
  width: 70%;
  max-width: 70%;
}

.w-80 {
  width: 80%;
  max-width: 80%;
}

.w-90 {
  width: 90%;
  max-width: 90%;
}

.w-100 {
  width: 100%;
  max-width: 100%;
}

/* Heights */
.h-10 {
  height: 10%;
  max-height: 10%;
}

.h-20 {
  height: 20%;
  max-height: 20%;
}

.h-30 {
  height: 30%;
  max-height: 30%;
}

.h-40 {
  height: 40%;
  max-height: 40%;
}

.h-50 {
  height: 50%;
  max-height: 50%;
}

.h-60 {
  height: 60%;
  max-height: 60%;
}

.h-70 {
  height: 70%;
  max-height: 70%;
}

.h-80 {
  height: 80%;
  max-height: 80%;
}

.h-90 {
  height: 90%;
  max-height: 90%;
}

.h-100 {
  height: 100%;
  max-height: 100%;
}

/* Max Widths */
.max-w-10 {
  max-width: 10%;
}

.max-w-20 {
  max-width: 20%;
}

.max-w-30 {
  max-width: 30%;
}

.max-w-40 {
  max-width: 40%;
}

.max-w-50 {
  max-width: 50%;
}

.max-w-60 {
  max-width: 60%;
}

.max-w-70 {
  max-width: 70%;
}

.max-w-80 {
  max-width: 80%;
}

.max-w-90 {
  max-width: 90%;
}

.max-w-100 {
  max-width: 100%;
}

/* Max Heights */
.max-h-10 {
  max-height: 10%;
}

.max-h-20 {
  max-height: 20%;
}

.max-h-30 {
  max-height: 30%;
}

.max-h-40 {
  max-height: 40%;
}

.max-h-50 {
  max-height: 50%;
}

.max-h-60 {
  max-height: 60%;
}

.max-h-70 {
  max-height: 70%;
}

.max-h-80 {
  max-height: 80%;
}

.max-h-90 {
  max-height: 90%;
}

.max-h-100 {
  max-height: 100%;
}

/* Min Widths */
.min-w-10 {
  min-width: 10%;
}

.min-w-20 {
  min-width: 20%;
}

.min-w-30 {
  min-width: 30%;
}

.min-w-40 {
  min-width: 40%;
}

.min-w-50 {
  min-width: 50%;
}

.min-w-60 {
  min-width: 60%;
}

.min-w-70 {
  min-width: 70%;
}

.min-w-80 {
  min-width: 80%;
}

.min-w-90 {
  min-width: 90%;
}

.min-w-100 {
  min-width: 100%;
}

/* Min Heights */
.min-h-10 {
  min-height: 10%;
}

.min-h-20 {
  min-height: 20%;
}

.min-h-30 {
  min-height: 30%;
}

.min-h-40 {
  min-height: 40%;
}

.min-h-50 {
  min-height: 50%;
}

.min-h-60 {
  min-height: 60%;
}

.min-h-70 {
  min-height: 70%;
}

.min-h-80 {
  min-height: 80%;
}

.min-h-90 {
  min-height: 90%;
}

.min-h-100 {
  min-height: 100%;
}

/**
 * Container Responsive Widths
 * ---------------------------------------------
 */
@media (min-width: 576px) {
  .w-sm-10 {
    width: 10%;
    max-width: 10%;
  }
  .w-sm-20 {
    width: 20%;
    max-width: 20%;
  }
  .w-sm-30 {
    width: 30%;
    max-width: 30%;
  }
  .w-sm-40 {
    width: 40%;
    max-width: 40%;
  }
  .w-sm-50 {
    width: 50%;
    max-width: 50%;
  }
  .w-sm-60 {
    width: 60%;
    max-width: 60%;
  }
  .w-sm-70 {
    width: 70%;
    max-width: 70%;
  }
  .w-sm-80 {
    width: 80%;
    max-width: 80%;
  }
  .w-sm-90 {
    width: 90%;
    max-width: 90%;
  }
  .w-sm-100 {
    width: 100%;
    max-width: 100%;
  }
  .h-sm-10 {
    height: 10%;
    max-height: 10%;
  }
  .h-sm-20 {
    height: 20%;
    max-height: 20%;
  }
  .h-sm-30 {
    height: 30%;
    max-height: 30%;
  }
  .h-sm-40 {
    height: 40%;
    max-height: 40%;
  }
  .h-sm-50 {
    height: 50%;
    max-height: 50%;
  }
  .h-sm-60 {
    height: 60%;
    max-height: 60%;
  }
  .h-sm-70 {
    height: 70%;
    max-height: 70%;
  }
  .h-sm-80 {
    height: 80%;
    max-height: 80%;
  }
  .h-sm-90 {
    height: 90%;
    max-height: 90%;
  }
  .h-sm-100 {
    height: 100%;
    max-height: 100%;
  }
  .max-w-sm-10 {
    max-width: 10%;
  }
  .max-w-sm-20 {
    max-width: 20%;
  }
  .max-w-sm-30 {
    max-width: 30%;
  }
  .max-w-sm-40 {
    max-width: 40%;
  }
  .max-w-sm-50 {
    max-width: 50%;
  }
  .max-w-sm-60 {
    max-width: 60%;
  }
  .max-w-sm-70 {
    max-width: 70%;
  }
  .max-w-sm-80 {
    max-width: 80%;
  }
  .max-w-sm-90 {
    max-width: 90%;
  }
  .max-w-sm-100 {
    max-width: 100%;
  }
  .max-h-sm-10 {
    max-height: 10%;
  }
  .max-h-sm-20 {
    max-height: 20%;
  }
  .max-h-sm-30 {
    max-height: 30%;
  }
  .max-h-sm-40 {
    max-height: 40%;
  }
  .max-h-sm-50 {
    max-height: 50%;
  }
  .max-h-sm-60 {
    max-height: 60%;
  }
  .max-h-sm-70 {
    max-height: 70%;
  }
  .max-h-sm-80 {
    max-height: 80%;
  }
  .max-h-sm-90 {
    max-height: 90%;
  }
  .max-h-sm-100 {
    max-height: 100%;
  }
  .min-w-sm-10 {
    min-width: 10%;
  }
  .min-w-sm-20 {
    min-width: 20%;
  }
  .min-w-sm-30 {
    min-width: 30%;
  }
  .min-w-sm-40 {
    min-width: 40%;
  }
  .min-w-sm-50 {
    min-width: 50%;
  }
  .min-w-sm-60 {
    min-width: 60%;
  }
  .min-w-sm-70 {
    min-width: 70%;
  }
  .min-w-sm-80 {
    min-width: 80%;
  }
  .min-w-sm-90 {
    min-width: 90%;
  }
  .min-w-sm-100 {
    min-width: 100%;
  }
  .min-h-sm-10 {
    min-height: 10%;
  }
  .min-h-sm-20 {
    min-height: 20%;
  }
  .min-h-sm-30 {
    min-height: 30%;
  }
  .min-h-sm-40 {
    min-height: 40%;
  }
  .min-h-sm-50 {
    min-height: 50%;
  }
  .min-h-sm-60 {
    min-height: 60%;
  }
  .min-h-sm-70 {
    min-height: 70%;
  }
  .min-h-sm-80 {
    min-height: 80%;
  }
  .min-h-sm-90 {
    min-height: 90%;
  }
  .min-h-sm-100 {
    min-height: 100%;
  }
}
@media (min-width: 768px) {
  .w-md-10 {
    width: 10%;
    max-width: 10%;
  }
  .w-md-20 {
    width: 20%;
    max-width: 20%;
  }
  .w-md-30 {
    width: 30%;
    max-width: 30%;
  }
  .w-md-40 {
    width: 40%;
    max-width: 40%;
  }
  .w-md-50 {
    width: 50%;
    max-width: 50%;
  }
  .w-md-60 {
    width: 60%;
    max-width: 60%;
  }
  .w-md-70 {
    width: 70%;
    max-width: 70%;
  }
  .w-md-80 {
    width: 80%;
    max-width: 80%;
  }
  .w-md-90 {
    width: 90%;
    max-width: 90%;
  }
  .w-md-100 {
    width: 100%;
    max-width: 100%;
  }
  .h-md-10 {
    height: 10%;
    max-height: 10%;
  }
  .h-md-20 {
    height: 20%;
    max-height: 20%;
  }
  .h-md-30 {
    height: 30%;
    max-height: 30%;
  }
  .h-md-40 {
    height: 40%;
    max-height: 40%;
  }
  .h-md-50 {
    height: 50%;
    max-height: 50%;
  }
  .h-md-60 {
    height: 60%;
    max-height: 60%;
  }
  .h-md-70 {
    height: 70%;
    max-height: 70%;
  }
  .h-md-80 {
    height: 80%;
    max-height: 80%;
  }
  .h-md-90 {
    height: 90%;
    max-height: 90%;
  }
  .h-md-100 {
    height: 100%;
    max-height: 100%;
  }
  .max-w-md-10 {
    max-width: 10%;
  }
  .max-w-md-20 {
    max-width: 20%;
  }
  .max-w-md-30 {
    max-width: 30%;
  }
  .max-w-md-40 {
    max-width: 40%;
  }
  .max-w-md-50 {
    max-width: 50%;
  }
  .max-w-md-60 {
    max-width: 60%;
  }
  .max-w-md-70 {
    max-width: 70%;
  }
  .max-w-md-80 {
    max-width: 80%;
  }
  .max-w-md-90 {
    max-width: 90%;
  }
  .max-w-md-100 {
    max-width: 100%;
  }
  .max-h-md-10 {
    max-height: 10%;
  }
  .max-h-md-20 {
    max-height: 20%;
  }
  .max-h-md-30 {
    max-height: 30%;
  }
  .max-h-md-40 {
    max-height: 40%;
  }
  .max-h-md-50 {
    max-height: 50%;
  }
  .max-h-md-60 {
    max-height: 60%;
  }
  .max-h-md-70 {
    max-height: 70%;
  }
  .max-h-md-80 {
    max-height: 80%;
  }
  .max-h-md-90 {
    max-height: 90%;
  }
  .max-h-md-100 {
    max-height: 100%;
  }
  .min-w-md-10 {
    min-width: 10%;
  }
  .min-w-md-20 {
    min-width: 20%;
  }
  .min-w-md-30 {
    min-width: 30%;
  }
  .min-w-md-40 {
    min-width: 40%;
  }
  .min-w-md-50 {
    min-width: 50%;
  }
  .min-w-md-60 {
    min-width: 60%;
  }
  .min-w-md-70 {
    min-width: 70%;
  }
  .min-w-md-80 {
    min-width: 80%;
  }
  .min-w-md-90 {
    min-width: 90%;
  }
  .min-w-md-100 {
    min-width: 100%;
  }
  .min-h-md-10 {
    min-height: 10%;
  }
  .min-h-md-20 {
    min-height: 20%;
  }
  .min-h-md-30 {
    min-height: 30%;
  }
  .min-h-md-40 {
    min-height: 40%;
  }
  .min-h-md-50 {
    min-height: 50%;
  }
  .min-h-md-60 {
    min-height: 60%;
  }
  .min-h-md-70 {
    min-height: 70%;
  }
  .min-h-md-80 {
    min-height: 80%;
  }
  .min-h-md-90 {
    min-height: 90%;
  }
  .min-h-md-100 {
    min-height: 100%;
  }
}
@media (min-width: 992px) {
  .w-lg-10 {
    width: 10%;
    max-width: 10%;
  }
  .w-lg-20 {
    width: 20%;
    max-width: 20%;
  }
  .w-lg-30 {
    width: 30%;
    max-width: 30%;
  }
  .w-lg-40 {
    width: 40%;
    max-width: 40%;
  }
  .w-lg-50 {
    width: 50%;
    max-width: 50%;
  }
  .w-lg-60 {
    width: 60%;
    max-width: 60%;
  }
  .w-lg-70 {
    width: 70%;
    max-width: 70%;
  }
  .w-lg-80 {
    width: 80%;
    max-width: 80%;
  }
  .w-lg-90 {
    width: 90%;
    max-width: 90%;
  }
  .w-lg-100 {
    width: 100%;
    max-width: 100%;
  }
  .h-lg-10 {
    height: 10%;
    max-height: 10%;
  }
  .h-lg-20 {
    height: 20%;
    max-height: 20%;
  }
  .h-lg-30 {
    height: 30%;
    max-height: 30%;
  }
  .h-lg-40 {
    height: 40%;
    max-height: 40%;
  }
  .h-lg-50 {
    height: 50%;
    max-height: 50%;
  }
  .h-lg-60 {
    height: 60%;
    max-height: 60%;
  }
  .h-lg-70 {
    height: 70%;
    max-height: 70%;
  }
  .h-lg-80 {
    height: 80%;
    max-height: 80%;
  }
  .h-lg-90 {
    height: 90%;
    max-height: 90%;
  }
  .h-lg-100 {
    height: 100%;
    max-height: 100%;
  }
  .max-w-lg-10 {
    max-width: 10%;
  }
  .max-w-lg-20 {
    max-width: 20%;
  }
  .max-w-lg-30 {
    max-width: 30%;
  }
  .max-w-lg-40 {
    max-width: 40%;
  }
  .max-w-lg-50 {
    max-width: 50%;
  }
  .max-w-lg-60 {
    max-width: 60%;
  }
  .max-w-lg-70 {
    max-width: 70%;
  }
  .max-w-lg-80 {
    max-width: 80%;
  }
  .max-w-lg-90 {
    max-width: 90%;
  }
  .max-w-lg-100 {
    max-width: 100%;
  }
  .max-h-lg-10 {
    max-height: 10%;
  }
  .max-h-lg-20 {
    max-height: 20%;
  }
  .max-h-lg-30 {
    max-height: 30%;
  }
  .max-h-lg-40 {
    max-height: 40%;
  }
  .max-h-lg-50 {
    max-height: 50%;
  }
  .max-h-lg-60 {
    max-height: 60%;
  }
  .max-h-lg-70 {
    max-height: 70%;
  }
  .max-h-lg-80 {
    max-height: 80%;
  }
  .max-h-lg-90 {
    max-height: 90%;
  }
  .max-h-lg-100 {
    max-height: 100%;
  }
  .min-w-lg-10 {
    min-width: 10%;
  }
  .min-w-lg-20 {
    min-width: 20%;
  }
  .min-w-lg-30 {
    min-width: 30%;
  }
  .min-w-lg-40 {
    min-width: 40%;
  }
  .min-w-lg-50 {
    min-width: 50%;
  }
  .min-w-lg-60 {
    min-width: 60%;
  }
  .min-w-lg-70 {
    min-width: 70%;
  }
  .min-w-lg-80 {
    min-width: 80%;
  }
  .min-w-lg-90 {
    min-width: 90%;
  }
  .min-w-lg-100 {
    min-width: 100%;
  }
  .min-h-lg-10 {
    min-height: 10%;
  }
  .min-h-lg-20 {
    min-height: 20%;
  }
  .min-h-lg-30 {
    min-height: 30%;
  }
  .min-h-lg-40 {
    min-height: 40%;
  }
  .min-h-lg-50 {
    min-height: 50%;
  }
  .min-h-lg-60 {
    min-height: 60%;
  }
  .min-h-lg-70 {
    min-height: 70%;
  }
  .min-h-lg-80 {
    min-height: 80%;
  }
  .min-h-lg-90 {
    min-height: 90%;
  }
  .min-h-lg-100 {
    min-height: 100%;
  }
}
@media (min-width: 1200px) {
  .w-xl-10 {
    width: 10%;
    max-width: 10%;
  }
  .w-xl-20 {
    width: 20%;
    max-width: 20%;
  }
  .w-xl-30 {
    width: 30%;
    max-width: 30%;
  }
  .w-xl-40 {
    width: 40%;
    max-width: 40%;
  }
  .w-xl-50 {
    width: 50%;
    max-width: 50%;
  }
  .w-xl-60 {
    width: 60%;
    max-width: 60%;
  }
  .w-xl-70 {
    width: 70%;
    max-width: 70%;
  }
  .w-xl-80 {
    width: 80%;
    max-width: 80%;
  }
  .w-xl-90 {
    width: 90%;
    max-width: 90%;
  }
  .w-xl-100 {
    width: 100%;
    max-width: 100%;
  }
  .h-xl-10 {
    height: 10%;
    max-height: 10%;
  }
  .h-xl-20 {
    height: 20%;
    max-height: 20%;
  }
  .h-xl-30 {
    height: 30%;
    max-height: 30%;
  }
  .h-xl-40 {
    height: 40%;
    max-height: 40%;
  }
  .h-xl-50 {
    height: 50%;
    max-height: 50%;
  }
  .h-xl-60 {
    height: 60%;
    max-height: 60%;
  }
  .h-xl-70 {
    height: 70%;
    max-height: 70%;
  }
  .h-xl-80 {
    height: 80%;
    max-height: 80%;
  }
  .h-xl-90 {
    height: 90%;
    max-height: 90%;
  }
  .h-xl-100 {
    height: 100%;
    max-height: 100%;
  }
  .max-w-xl-10 {
    max-width: 10%;
  }
  .max-w-xl-20 {
    max-width: 20%;
  }
  .max-w-xl-30 {
    max-width: 30%;
  }
  .max-w-xl-40 {
    max-width: 40%;
  }
  .max-w-xl-50 {
    max-width: 50%;
  }
  .max-w-xl-60 {
    max-width: 60%;
  }
  .max-w-xl-70 {
    max-width: 70%;
  }
  .max-w-xl-80 {
    max-width: 80%;
  }
  .max-w-xl-90 {
    max-width: 90%;
  }
  .max-w-xl-100 {
    max-width: 100%;
  }
  .max-h-xl-10 {
    max-height: 10%;
  }
  .max-h-xl-20 {
    max-height: 20%;
  }
  .max-h-xl-30 {
    max-height: 30%;
  }
  .max-h-xl-40 {
    max-height: 40%;
  }
  .max-h-xl-50 {
    max-height: 50%;
  }
  .max-h-xl-60 {
    max-height: 60%;
  }
  .max-h-xl-70 {
    max-height: 70%;
  }
  .max-h-xl-80 {
    max-height: 80%;
  }
  .max-h-xl-90 {
    max-height: 90%;
  }
  .max-h-xl-100 {
    max-height: 100%;
  }
  .min-w-xl-10 {
    min-width: 10%;
  }
  .min-w-xl-20 {
    min-width: 20%;
  }
  .min-w-xl-30 {
    min-width: 30%;
  }
  .min-w-xl-40 {
    min-width: 40%;
  }
  .min-w-xl-50 {
    min-width: 50%;
  }
  .min-w-xl-60 {
    min-width: 60%;
  }
  .min-w-xl-70 {
    min-width: 70%;
  }
  .min-w-xl-80 {
    min-width: 80%;
  }
  .min-w-xl-90 {
    min-width: 90%;
  }
  .min-w-xl-100 {
    min-width: 100%;
  }
  .min-h-xl-10 {
    min-height: 10%;
  }
  .min-h-xl-20 {
    min-height: 20%;
  }
  .min-h-xl-30 {
    min-height: 30%;
  }
  .min-h-xl-40 {
    min-height: 40%;
  }
  .min-h-xl-50 {
    min-height: 50%;
  }
  .min-h-xl-60 {
    min-height: 60%;
  }
  .min-h-xl-70 {
    min-height: 70%;
  }
  .min-h-xl-80 {
    min-height: 80%;
  }
  .min-h-xl-90 {
    min-height: 90%;
  }
  .min-h-xl-100 {
    min-height: 100%;
  }
}
@media (min-width: 1400px) {
  .w-2xl-10 {
    width: 10%;
    max-width: 10%;
  }
  .w-2xl-20 {
    width: 20%;
    max-width: 20%;
  }
  .w-2xl-30 {
    width: 30%;
    max-width: 30%;
  }
  .w-2xl-40 {
    width: 40%;
    max-width: 40%;
  }
  .w-2xl-50 {
    width: 50%;
    max-width: 50%;
  }
  .w-2xl-60 {
    width: 60%;
    max-width: 60%;
  }
  .w-2xl-70 {
    width: 70%;
    max-width: 70%;
  }
  .w-2xl-80 {
    width: 80%;
    max-width: 80%;
  }
  .w-2xl-90 {
    width: 90%;
    max-width: 90%;
  }
  .w-2xl-100 {
    width: 100%;
    max-width: 100%;
  }
  .h-2xl-10 {
    height: 10%;
    max-height: 10%;
  }
  .h-2xl-20 {
    height: 20%;
    max-height: 20%;
  }
  .h-2xl-30 {
    height: 30%;
    max-height: 30%;
  }
  .h-2xl-40 {
    height: 40%;
    max-height: 40%;
  }
  .h-2xl-50 {
    height: 50%;
    max-height: 50%;
  }
  .h-2xl-60 {
    height: 60%;
    max-height: 60%;
  }
  .h-2xl-70 {
    height: 70%;
    max-height: 70%;
  }
  .h-2xl-80 {
    height: 80%;
    max-height: 80%;
  }
  .h-2xl-90 {
    height: 90%;
    max-height: 90%;
  }
  .h-2xl-100 {
    height: 100%;
    max-height: 100%;
  }
  .max-w-2xl-10 {
    max-width: 10%;
  }
  .max-w-2xl-20 {
    max-width: 20%;
  }
  .max-w-2xl-30 {
    max-width: 30%;
  }
  .max-w-2xl-40 {
    max-width: 40%;
  }
  .max-w-2xl-50 {
    max-width: 50%;
  }
  .max-w-2xl-60 {
    max-width: 60%;
  }
  .max-w-2xl-70 {
    max-width: 70%;
  }
  .max-w-2xl-80 {
    max-width: 80%;
  }
  .max-w-2xl-90 {
    max-width: 90%;
  }
  .max-w-2xl-100 {
    max-width: 100%;
  }
  .max-h-2xl-10 {
    max-height: 10%;
  }
  .max-h-2xl-20 {
    max-height: 20%;
  }
  .max-h-2xl-30 {
    max-height: 30%;
  }
  .max-h-2xl-40 {
    max-height: 40%;
  }
  .max-h-2xl-50 {
    max-height: 50%;
  }
  .max-h-2xl-60 {
    max-height: 60%;
  }
  .max-h-2xl-70 {
    max-height: 70%;
  }
  .max-h-2xl-80 {
    max-height: 80%;
  }
  .max-h-2xl-90 {
    max-height: 90%;
  }
  .max-h-2xl-100 {
    max-height: 100%;
  }
  .min-w-2xl-10 {
    min-width: 10%;
  }
  .min-w-2xl-20 {
    min-width: 20%;
  }
  .min-w-2xl-30 {
    min-width: 30%;
  }
  .min-w-2xl-40 {
    min-width: 40%;
  }
  .min-w-2xl-50 {
    min-width: 50%;
  }
  .min-w-2xl-60 {
    min-width: 60%;
  }
  .min-w-2xl-70 {
    min-width: 70%;
  }
  .min-w-2xl-80 {
    min-width: 80%;
  }
  .min-w-2xl-90 {
    min-width: 90%;
  }
  .min-w-2xl-100 {
    min-width: 100%;
  }
  .min-h-2xl-10 {
    min-height: 10%;
  }
  .min-h-2xl-20 {
    min-height: 20%;
  }
  .min-h-2xl-30 {
    min-height: 30%;
  }
  .min-h-2xl-40 {
    min-height: 40%;
  }
  .min-h-2xl-50 {
    min-height: 50%;
  }
  .min-h-2xl-60 {
    min-height: 60%;
  }
  .min-h-2xl-70 {
    min-height: 70%;
  }
  .min-h-2xl-80 {
    min-height: 80%;
  }
  .min-h-2xl-90 {
    min-height: 90%;
  }
  .min-h-2xl-100 {
    min-height: 100%;
  }
}
@media (min-width: 1600px) {
  .w-3xl-10 {
    width: 10%;
    max-width: 10%;
  }
  .w-3xl-20 {
    width: 20%;
    max-width: 20%;
  }
  .w-3xl-30 {
    width: 30%;
    max-width: 30%;
  }
  .w-3xl-40 {
    width: 40%;
    max-width: 40%;
  }
  .w-3xl-50 {
    width: 50%;
    max-width: 50%;
  }
  .w-3xl-60 {
    width: 60%;
    max-width: 60%;
  }
  .w-3xl-70 {
    width: 70%;
    max-width: 70%;
  }
  .w-3xl-80 {
    width: 80%;
    max-width: 80%;
  }
  .w-3xl-90 {
    width: 90%;
    max-width: 90%;
  }
  .w-3xl-100 {
    width: 100%;
    max-width: 100%;
  }
  .h-3xl-10 {
    height: 10%;
    max-height: 10%;
  }
  .h-3xl-20 {
    height: 20%;
    max-height: 20%;
  }
  .h-3xl-30 {
    height: 30%;
    max-height: 30%;
  }
  .h-3xl-40 {
    height: 40%;
    max-height: 40%;
  }
  .h-3xl-50 {
    height: 50%;
    max-height: 50%;
  }
  .h-3xl-60 {
    height: 60%;
    max-height: 60%;
  }
  .h-3xl-70 {
    height: 70%;
    max-height: 70%;
  }
  .h-3xl-80 {
    height: 80%;
    max-height: 80%;
  }
  .h-3xl-90 {
    height: 90%;
    max-height: 90%;
  }
  .h-3xl-100 {
    height: 100%;
    max-height: 100%;
  }
  .max-w-3xl-10 {
    max-width: 10%;
  }
  .max-w-3xl-20 {
    max-width: 20%;
  }
  .max-w-3xl-30 {
    max-width: 30%;
  }
  .max-w-3xl-40 {
    max-width: 40%;
  }
  .max-w-3xl-50 {
    max-width: 50%;
  }
  .max-w-3xl-60 {
    max-width: 60%;
  }
  .max-w-3xl-70 {
    max-width: 70%;
  }
  .max-w-3xl-80 {
    max-width: 80%;
  }
  .max-w-3xl-90 {
    max-width: 90%;
  }
  .max-w-3xl-100 {
    max-width: 100%;
  }
  .max-h-3xl-10 {
    max-height: 10%;
  }
  .max-h-3xl-20 {
    max-height: 20%;
  }
  .max-h-3xl-30 {
    max-height: 30%;
  }
  .max-h-3xl-40 {
    max-height: 40%;
  }
  .max-h-3xl-50 {
    max-height: 50%;
  }
  .max-h-3xl-60 {
    max-height: 60%;
  }
  .max-h-3xl-70 {
    max-height: 70%;
  }
  .max-h-3xl-80 {
    max-height: 80%;
  }
  .max-h-3xl-90 {
    max-height: 90%;
  }
  .max-h-3xl-100 {
    max-height: 100%;
  }
  .min-w-3xl-10 {
    min-width: 10%;
  }
  .min-w-3xl-20 {
    min-width: 20%;
  }
  .min-w-3xl-30 {
    min-width: 30%;
  }
  .min-w-3xl-40 {
    min-width: 40%;
  }
  .min-w-3xl-50 {
    min-width: 50%;
  }
  .min-w-3xl-60 {
    min-width: 60%;
  }
  .min-w-3xl-70 {
    min-width: 70%;
  }
  .min-w-3xl-80 {
    min-width: 80%;
  }
  .min-w-3xl-90 {
    min-width: 90%;
  }
  .min-w-3xl-100 {
    min-width: 100%;
  }
  .min-h-3xl-10 {
    min-height: 10%;
  }
  .min-h-3xl-20 {
    min-height: 20%;
  }
  .min-h-3xl-30 {
    min-height: 30%;
  }
  .min-h-3xl-40 {
    min-height: 40%;
  }
  .min-h-3xl-50 {
    min-height: 50%;
  }
  .min-h-3xl-60 {
    min-height: 60%;
  }
  .min-h-3xl-70 {
    min-height: 70%;
  }
  .min-h-3xl-80 {
    min-height: 80%;
  }
  .min-h-3xl-90 {
    min-height: 90%;
  }
  .min-h-3xl-100 {
    min-height: 100%;
  }
}
/* Simplify Grid System
------------------------------------------------- 
*/
/* Grid Row */
.grid-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* Columns xs */
.col-1 {
  grid-column-end: span 1;
}

.col-2 {
  grid-column-end: span 2;
}

.col-3 {
  grid-column-end: span 3;
}

.col-4 {
  grid-column-end: span 4;
}

.col-5 {
  grid-column-end: span 5;
}

.col-6 {
  grid-column-end: span 6;
}

.col-7 {
  grid-column-end: span 7;
}

.col-8 {
  grid-column-end: span 8;
}

.col-9 {
  grid-column-end: span 9;
}

.col-10 {
  grid-column-end: span 10;
}

.col-11 {
  grid-column-end: span 11;
}

.col-12 {
  grid-column-end: span 12;
}

/* Column Starts */
.col-start-1 {
  grid-column-start: 1;
}

.col-start-2 {
  grid-column-start: 2;
}

.col-start-3 {
  grid-column-start: 3;
}

.col-start-4 {
  grid-column-start: 4;
}

.col-start-5 {
  grid-column-start: 5;
}

.col-start-6 {
  grid-column-start: 6;
}

.col-start-7 {
  grid-column-start: 7;
}

.col-start-8 {
  grid-column-start: 8;
}

.col-start-9 {
  grid-column-start: 9;
}

.col-start-10 {
  grid-column-start: 10;
}

.col-start-11 {
  grid-column-start: 11;
}

.col-start-12 {
  grid-column-start: 12;
}

/* Gutter Sizes */
.gutter-0 {
  gap: 0;
}

.gutter-1 {
  gap: 0.25rem;
}

.gutter-2 {
  gap: 0.5rem;
}

.gutter-3 {
  gap: 0.75rem;
}

.gutter-4 {
  gap: 1rem;
}

.gutter-5 {
  gap: 1.25rem;
}

.gutter-6 {
  gap: 1.5rem;
}

.gutter-7 {
  gap: 1.75rem;
}

.gutter-8 {
  gap: 2rem;
}

.gutter-9 {
  gap: 2.25rem;
}

.gutter-10 {
  gap: 2.5rem;
}

/* Responsive Columns */
@media (min-width: 576px) {
  .col-sm-1 {
    grid-column-end: span 1;
  }
  .col-sm-2 {
    grid-column-end: span 2;
  }
  .col-sm-3 {
    grid-column-end: span 3;
  }
  .col-sm-4 {
    grid-column-end: span 4;
  }
  .col-sm-5 {
    grid-column-end: span 5;
  }
  .col-sm-6 {
    grid-column-end: span 6;
  }
  .col-sm-7 {
    grid-column-end: span 7;
  }
  .col-sm-8 {
    grid-column-end: span 8;
  }
  .col-sm-9 {
    grid-column-end: span 9;
  }
  .col-sm-10 {
    grid-column-end: span 10;
  }
  .col-sm-11 {
    grid-column-end: span 11;
  }
  .col-sm-12 {
    grid-column-end: span 12;
  }
  .col-start-sm-1 {
    grid-column-start: span 1;
  }
  .col-start-sm-2 {
    grid-column-start: span 2;
  }
  .col-start-sm-3 {
    grid-column-start: span 3;
  }
  .col-start-sm-4 {
    grid-column-start: span 4;
  }
  .col-start-sm-5 {
    grid-column-start: span 5;
  }
  .col-start-sm-6 {
    grid-column-start: span 6;
  }
  .col-start-sm-7 {
    grid-column-start: span 7;
  }
  .col-start-sm-8 {
    grid-column-start: span 8;
  }
  .col-start-sm-9 {
    grid-column-start: span 9;
  }
  .col-start-sm-10 {
    grid-column-start: span 10;
  }
  .col-start-sm-11 {
    grid-column-start: span 11;
  }
  .col-start-sm-12 {
    grid-column-start: span 12;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    grid-column-end: span 1;
  }
  .col-md-2 {
    grid-column-end: span 2;
  }
  .col-md-3 {
    grid-column-end: span 3;
  }
  .col-md-4 {
    grid-column-end: span 4;
  }
  .col-md-5 {
    grid-column-end: span 5;
  }
  .col-md-6 {
    grid-column-end: span 6;
  }
  .col-md-7 {
    grid-column-end: span 7;
  }
  .col-md-8 {
    grid-column-end: span 8;
  }
  .col-md-9 {
    grid-column-end: span 9;
  }
  .col-md-10 {
    grid-column-end: span 10;
  }
  .col-md-11 {
    grid-column-end: span 11;
  }
  .col-md-12 {
    grid-column-end: span 12;
  }
  .col-start-md-1 {
    grid-column-start: span 1;
  }
  .col-start-md-2 {
    grid-column-start: span 2;
  }
  .col-start-md-3 {
    grid-column-start: span 3;
  }
  .col-start-md-4 {
    grid-column-start: span 4;
  }
  .col-start-md-5 {
    grid-column-start: span 5;
  }
  .col-start-md-6 {
    grid-column-start: span 6;
  }
  .col-start-md-7 {
    grid-column-start: span 7;
  }
  .col-start-md-8 {
    grid-column-start: span 8;
  }
  .col-start-md-9 {
    grid-column-start: span 9;
  }
  .col-start-md-10 {
    grid-column-start: span 10;
  }
  .col-start-md-11 {
    grid-column-start: span 11;
  }
  .col-start-md-12 {
    grid-column-start: span 12;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    grid-column-end: span 1;
  }
  .col-lg-2 {
    grid-column-end: span 2;
  }
  .col-lg-3 {
    grid-column-end: span 3;
  }
  .col-lg-4 {
    grid-column-end: span 4;
  }
  .col-lg-5 {
    grid-column-end: span 5;
  }
  .col-lg-6 {
    grid-column-end: span 6;
  }
  .col-lg-7 {
    grid-column-end: span 7;
  }
  .col-lg-8 {
    grid-column-end: span 8;
  }
  .col-lg-9 {
    grid-column-end: span 9;
  }
  .col-lg-10 {
    grid-column-end: span 10;
  }
  .col-lg-11 {
    grid-column-end: span 11;
  }
  .col-lg-12 {
    grid-column-end: span 12;
  }
  .col-start-lg-1 {
    grid-column-start: span 1;
  }
  .col-start-lg-2 {
    grid-column-start: span 2;
  }
  .col-start-lg-3 {
    grid-column-start: span 3;
  }
  .col-start-lg-4 {
    grid-column-start: span 4;
  }
  .col-start-lg-5 {
    grid-column-start: span 5;
  }
  .col-start-lg-6 {
    grid-column-start: span 6;
  }
  .col-start-lg-7 {
    grid-column-start: span 7;
  }
  .col-start-lg-8 {
    grid-column-start: span 8;
  }
  .col-start-lg-9 {
    grid-column-start: span 9;
  }
  .col-start-lg-10 {
    grid-column-start: span 10;
  }
  .col-start-lg-11 {
    grid-column-start: span 11;
  }
  .col-start-lg-12 {
    grid-column-start: span 12;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    grid-column-end: span 1;
  }
  .col-xl-2 {
    grid-column-end: span 2;
  }
  .col-xl-3 {
    grid-column-end: span 3;
  }
  .col-xl-4 {
    grid-column-end: span 4;
  }
  .col-xl-5 {
    grid-column-end: span 5;
  }
  .col-xl-6 {
    grid-column-end: span 6;
  }
  .col-xl-7 {
    grid-column-end: span 7;
  }
  .col-xl-8 {
    grid-column-end: span 8;
  }
  .col-xl-9 {
    grid-column-end: span 9;
  }
  .col-xl-10 {
    grid-column-end: span 10;
  }
  .col-xl-11 {
    grid-column-end: span 11;
  }
  .col-xl-12 {
    grid-column-end: span 12;
  }
  .col-start-xl-1 {
    grid-column-start: span 1;
  }
  .col-start-xl-2 {
    grid-column-start: span 2;
  }
  .col-start-xl-3 {
    grid-column-start: span 3;
  }
  .col-start-xl-4 {
    grid-column-start: span 4;
  }
  .col-start-xl-5 {
    grid-column-start: span 5;
  }
  .col-start-xl-6 {
    grid-column-start: span 6;
  }
  .col-start-xl-7 {
    grid-column-start: span 7;
  }
  .col-start-xl-8 {
    grid-column-start: span 8;
  }
  .col-start-xl-9 {
    grid-column-start: span 9;
  }
  .col-start-xl-10 {
    grid-column-start: span 10;
  }
  .col-start-xl-11 {
    grid-column-start: span 11;
  }
  .col-start-xl-12 {
    grid-column-start: span 12;
  }
}
@media (min-width: 1400px) {
  .col-2xl-1 {
    grid-column-end: span 1;
  }
  .col-2xl-2 {
    grid-column-end: span 2;
  }
  .col-2xl-3 {
    grid-column-end: span 3;
  }
  .col-2xl-4 {
    grid-column-end: span 4;
  }
  .col-2xl-5 {
    grid-column-end: span 5;
  }
  .col-2xl-6 {
    grid-column-end: span 6;
  }
  .col-2xl-7 {
    grid-column-end: span 7;
  }
  .col-2xl-8 {
    grid-column-end: span 8;
  }
  .col-2xl-9 {
    grid-column-end: span 9;
  }
  .col-2xl-10 {
    grid-column-end: span 10;
  }
  .col-2xl-11 {
    grid-column-end: span 11;
  }
  .col-2xl-12 {
    grid-column-end: span 12;
  }
  .col-start-2xl-1 {
    grid-column-start: span 1;
  }
  .col-start-2xl-2 {
    grid-column-start: span 2;
  }
  .col-start-2xl-3 {
    grid-column-start: span 3;
  }
  .col-start-2xl-4 {
    grid-column-start: span 4;
  }
  .col-start-2xl-5 {
    grid-column-start: span 5;
  }
  .col-start-2xl-6 {
    grid-column-start: span 6;
  }
  .col-start-2xl-7 {
    grid-column-start: span 7;
  }
  .col-start-2xl-8 {
    grid-column-start: span 8;
  }
  .col-start-2xl-9 {
    grid-column-start: span 9;
  }
  .col-start-2xl-10 {
    grid-column-start: span 10;
  }
  .col-start-2xl-11 {
    grid-column-start: span 11;
  }
  .col-start-2xl-12 {
    grid-column-start: span 12;
  }
}
@media (min-width: 1600px) {
  .col-3xl-1 {
    grid-column-end: span 1;
  }
  .col-3xl-2 {
    grid-column-end: span 2;
  }
  .col-3xl-3 {
    grid-column-end: span 3;
  }
  .col-3xl-4 {
    grid-column-end: span 4;
  }
  .col-3xl-5 {
    grid-column-end: span 5;
  }
  .col-3xl-6 {
    grid-column-end: span 6;
  }
  .col-3xl-7 {
    grid-column-end: span 7;
  }
  .col-3xl-8 {
    grid-column-end: span 8;
  }
  .col-3xl-9 {
    grid-column-end: span 9;
  }
  .col-3xl-10 {
    grid-column-end: span 10;
  }
  .col-3xl-11 {
    grid-column-end: span 11;
  }
  .col-3xl-12 {
    grid-column-end: span 12;
  }
  .col-start-3xl-1 {
    grid-column-start: span 1;
  }
  .col-start-3xl-2 {
    grid-column-start: span 2;
  }
  .col-start-3xl-3 {
    grid-column-start: span 3;
  }
  .col-start-3xl-4 {
    grid-column-start: span 4;
  }
  .col-start-3xl-5 {
    grid-column-start: span 5;
  }
  .col-start-3xl-6 {
    grid-column-start: span 6;
  }
  .col-start-3xl-7 {
    grid-column-start: span 7;
  }
  .col-start-3xl-8 {
    grid-column-start: span 8;
  }
  .col-start-3xl-9 {
    grid-column-start: span 9;
  }
  .col-start-3xl-10 {
    grid-column-start: span 10;
  }
  .col-start-3xl-11 {
    grid-column-start: span 11;
  }
  .col-start-3xl-12 {
    grid-column-start: span 12;
  }
}