@use 'sass:map';
@use 'utilities/variables' as *;

// Mixin for breakpoints
@mixin responsive($breakpoint) {
  $min-width: map.get($breakpoints, $breakpoint);
  @if $min-width {
    @media (min-width: $min-width) {
      @content;
    }
  }
}

// Mixin to apply header styles dynamically
@mixin header-styles($header) {
  font-size: map.get(map.get($headerSizes, $header), fontSize);
  font-weight: map.get(map.get($headerSizes, $header), fontWeight);
  line-height: map.get(map.get($headerSizes, $header), lineHeight);
}