@use 'sass:map';
@use '../utilities/variables' as *;
@use '../utilities/mixins' as mixins;


/* Simplify Grid System
------------------------------------------------- 
*/

/* Grid Row */
.grid-row {
  display: grid;
  grid-template-columns: repeat(#{$maxColumns}, 1fr);
}

/* Grid variations */
.grid-auto-cols {
  display: grid;
  grid-auto-columns: auto;
}

.grid-auto-rows {
  display: grid;
  grid-auto-rows: auto;
}


/* Columns xs */
@for $i from 1 through $maxColumns {
  .col-#{$i} {
    grid-column-end: span #{$i};
  }
}


/* Column Starts */
@for $i from 1 through $maxColumns {
  .col-start-#{$i} {
    grid-column-start: #{$i};
  }
}

/* Gutter Sizes */
@each $size, $value in $gutterSizes {
  .gutter-#{$size} {
    gap: #{$value};
  }
}

/* Responsive Columns */
@each $breakpoint, $min-width in $breakpoints {
  @include mixins.responsive($breakpoint) {
    @for $i from 1 through $maxColumns {
      .col-#{$breakpoint}-#{$i} {
        grid-column-end: span #{$i};
      }
    }

    @for $i from 1 through $maxColumns {
      .col-start-#{$breakpoint}-#{$i} {
        grid-column-start: span #{$i};
      }
    }
  }
}