@use "sass:map";
@use "../utilities/variables" as *;


@each $color-name, $color-shades in $standardColors {
  @each $shade, $value in $color-shades {
    .bg-#{"#{$color-name}"}-#{$shade} {
      background-color: $value;
    }
    .bd-#{"#{$color-name}"}-#{$shade} {
      border-color: $value;
    }
    .fg-#{"#{$color-name}"}-#{$shade} {
      color: $value;
    }
    .ol-#{"#{$color-name}"}-#{$shade} {
      outline-color: $value;
    }
  }
}